<!DOCTYPE html>
<html>
  <head>
    <title>My App Engine App</title>
  </head>
  <body>
    <h2>Request access to HBDb</h2>
    <form method="POST" action="/request">
      <div>
        <input type="text" name="username" placeholder="username">
      </div>
      <div>
        <input type="text" name="email" placeholder="email">
      </div>
      <div>
        <textarea name="message" placeholder="message"></textarea>
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
  </body>
</html>